@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 4.9% 83.9%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container{
  max-width: 1200px;
}

 /* Carrousel */
/* Default styles for larger screens */
.scroller {
  overflow: hidden;
  max-width: 1000px;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 20%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller__inner {
  display: flex;
  flex-wrap: nowrap;
  animation: 50s slide infinite linear;
}


.gradient-background {
  width: calc(100vw / 3);
  height: calc(100vh / 3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  filter: blur(125px);
  pointer-events: none;
  z-index: -1000;
}

@media only screen and (max-width: 600px) {
  .scroller {
      max-width: 100%;
  }
}

@media screen and (max-width : 1024px){
  p,h1,h2,h3,h4,span{
      font-size: 80%;
      overscroll-behavior: none;
  }
}

@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-200%);
  }
}

.danger{
  @apply bg-red-400/20 border-[#EF4C62]
}

.warning{
  @apply bg-yellow-400/20 border-[#FDC02A]
}

.information{
  @apply bg-blue-400/20 border-[#346DDB]
}

.check{
  @apply bg-green-400/20 border-[#33D29D]
}


.red {
  background: radial-gradient(ellipse at center, rgb(252, 219, 3) 0%, var(--background-gradient) 100%);
  animation: rotateBackground 40s linear infinite;
}

.blue {
  background: radial-gradient(ellipse at center, rgb(233, 233, 233) 0%, var(--background-gradient)100%);
  animation: rotateBackground 20s linear infinite;
}

.green {
  background: radial-gradient(ellipse at center, rgb(127, 122, 57) 0%, var(--background-gradient) 100%);
  animation: rotateBackground 10s linear infinite;
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}