@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container{
  max-width: 1200px;
}

 /* Carrousel */
/* Default styles for larger screens */
.scroller {
  overflow: hidden;
  max-width: 1000px;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 20%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller__inner {
  display: flex;
  flex-wrap: nowrap;
  animation: 50s slide infinite linear;
}


.gradient-background {
  width: calc(100vw / 3);
  height: calc(100vh / 3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  filter: blur(125px);
  pointer-events: none;
  z-index: -1000;
}

@media only screen and (max-width: 600px) {
  .scroller {
      max-width: 100%;
  }
}

@media screen and (max-width : 1024px){
  p,h1,h2,h3,h4,span{
      font-size: 80%;
      overscroll-behavior: none;
  }
}

@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-200%);
  }
}

.danger{
  @apply bg-red-400/20 border-[#EF4C62]
}

.warning{
  @apply bg-yellow-400/20 border-[#FDC02A]
}

.information{
  @apply bg-blue-400/20 border-[#346DDB]
}

.check{
  @apply bg-green-400/20 border-[#33D29D]
}


.red {
  background: radial-gradient(ellipse at center, rgb(252, 219, 3) 0%, var(--background-gradient) 100%);
  animation: rotateBackground 40s linear infinite;
}

.blue {
  background: radial-gradient(ellipse at center, rgb(233, 233, 233) 0%, var(--background-gradient)100%);
  animation: rotateBackground 20s linear infinite;
}

.green {
  background: radial-gradient(ellipse at center, rgb(127, 122, 57) 0%, var(--background-gradient) 100%);
  animation: rotateBackground 10s linear infinite;
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}